.Desktop---7 {
    width: 1440px;
    height: 1024px;
    flex-grow: 0;
    padding: 0 0 0 47px;
    background-color: #fff;
  }

.PSSA3-3 {
    width: 318px;
    height: 73px;
    margin: 56px 325px 35px 4px;
  }

  .Sign-in {
    width: 160px;
    height: 54px;
    margin: 35px 483px 43px 4px;
    font-family: Inter;
    font-size: 45px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .Mecanico {
    width: 172px;
    height: 42px;
    margin: 43px 471px 14px 4px;
    font-family: Inter;
    font-size: 35px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #00a0fc;
  }

  .Rectangle-7 {
    width: 503px;
    height: 49px;
    margin: 14px 140px 34px 4px;
    padding: 10px 371px 11px 28px;
    border-radius: 10px;
    background-color: rgba(215, 215, 215, 0.6);
  }

  .E-mail {
    width: 104px;
    height: 28px;
    font-family: Inter;
    font-size: 23px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.49);
  }

  .Rectangle-8 {
    width: 503px;
    height: 49px;
    margin: 14px 140px 34px 4px;
    padding: 10px 371px 11px 28px;
    border-radius: 10px;
    background-color: rgba(215, 215, 215, 0.6);
  }


  .Rectangle-11 {
    width: 163px;
    height: 42px;
    margin: 34px 480px 84px 4px;
    padding: 7px 48px 7px 49px;
    border-radius: 10px;
    background-color: #00a0fc;
  }



  .Cliente {
    width: 132px;
    height: 36px;
    margin: 84px 511px 22px 4px;
    font-family: Inter;
    font-size: 35px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #00a0fc;
  }

  .Rectangle-9 {
    width: 503px;
    height: 49px;
    margin: 14px 140px 34px 4px;
    padding: 10px 371px 11px 28px;
    border-radius: 10px;
    background-color: rgba(215, 215, 215, 0.6);
  }

  .Rectangle-10 {
    width: 503px;
    height: 49px;
    margin: 14px 140px 34px 4px;
    padding: 10px 371px 11px 28px;
    border-radius: 10px;
    background-color: rgba(215, 215, 215, 0.6);
  }

  .Imagem-mecanico {
    width: 10px;
    height: 50px;
  }

  .caixa-entrar {
    width: 163px;
    height: 42px;
    margin: 34px 484px 74px 0;
    padding: 7px 48px 7px 49px;
    border-radius: 10px;
    background-color: #00a0fc;
  }

  .Rectangle-12 {
    width: 163px;
    height: 42px;
    margin: 34px 484px 74px 0;
    padding: 7px 48px 7px 49px;
    border-radius: 10px;
    background-color: #00a0fc;
  }

  .Entrar {
    width: 66px;
    height: 28px;
    font-family: Inter;
    font-size: 23px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }

  .O-que-cdigo-porto {
    width: 281px;
    height: 30px;
    margin: 74px 362px 37px 4px;
    font-family: Inter;
    font-size: 25px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }